<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Vohtaski</string>
	<key>uuid</key>
	<string>CD11CDDE-B15B-468B-A1B5-91C1A3F3950F</string>
</dict>
</plist>
