<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>OpenSocial</string>
	<key>uuid</key>
	<string>1DC9FB59-8BBA-4BA9-B098-C0B4D63AFEBE</string>
</dict>
</plist>
